<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorator="shared/start">
 	<head>
	   	<link th:href="@{/webjars/datatables/1.10.7/css/jquery.dataTables.min.css}" 
			  rel="stylesheet" media="screen" type="text/css" />
  	</head>
	<body>
		<div layout:fragment="content">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<h2 th:text="${modelo.jugador.nombreCompleto}"></h2>	
							</div>
						</div>
						<div class="row">
							<div class="col-md-3" th:unless="${modelo.jugador.fechaNacimiento} == null">
								<b th:text="#{jugador.show.fechaNacimiento} + ': '"></b>
								   <span th:text="${modelo.jugador.fechaNacimiento}"></span>
							</div>
							<div class="col-md-1 col-xs-3">
								<b>B: </b><span th:text="${modelo.jugador.batea}"></span>
							</div>
							<div class="col-md-1 col-xs-3">
								<b>T: </b><span th:text="${modelo.jugador.tira}"></span>
							</div>							
						</div>
						<div class="row" th:unless="${modelo.jugador.ciudadNacimiento} == null">
							<div class="col-md-12">
								<b th:text="#{jugador.show.lugarNacimiento} + ': '"></b>
								   <span th:text="${modelo.jugador.ciudadNacimiento}"></span>
							</div>
							
						</div>
					</div>
				</div>
			</div>

			<div class="clearfix col-md-12">		
				<div class="panel panel-default">
					<div class="panel-heading resaltar" th:text="#{jugador.show.data}"></div>
						
					<div class="panel-body">
						<div role="tabpanel">
							<ul class="nav nav-pills" role="tablist" id="navJugador">
								<li role="presentation" id="zBateador" th:if="${not #lists.isEmpty(modelo.rosters)}">
									<a href="#bateadores" aria-controls="home" role="tab" 
							   			data-toggle="tab" th:text="#{jugador.show.data.bateo}"></a>
								</li>
								
								<!-- <li role="presentation" id="zPitcher">
									<a href="#pitchers" aria-controls="home" role="tab" 
							   			data-toggle="tab" th:text="#{jugador.show.data.pitcher}">Pitcheo</a>
								</li> -->
								
								<li role="presentation" id="zManager" th:if="${not #lists.isEmpty(modelo.managers)}">
									<a href="#managers" aria-controls="home" role="tab" 
							   			data-toggle="tab" th:text="#{jugador.show.data.manager}"></a>
								</li>
							</ul>
							
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="bateadores" th:if="${not #lists.isEmpty(modelo.rosters)}">
									<div class="panel panel-default">
										<div class="panel-body">
											<table class="table" id="tJugRoster">
												<thead>
													<th th:text="#{jugador.show.data.liga}"></th>
													<th th:text="#{jugador.show.data.temporada}"></th>
													<th th:text="#{jugador.show.data.equipo}"></th>
													<th th:text="#{jugador.show.data.posicion}"></th>
												</thead>
												
												<tbody>
													<tr th:each = "bateador : ${modelo.rosters}">
														<td th:text="${bateador.liga}"></td>
														<td th:text="${bateador.temporada}"></td>
														<td th:text="${bateador.equipo}"></td>
														<td th:text="${bateador.posicion}"></td>
													</tr>
												</tbody>
											</table>							
										</div>							
									</div>								
								</div>
								
								<!-- <div role="tabpanel" class="tab-pane" id="pitchers">
									<p>Zona de pitchers</p>
								</div>  -->
								
								<div role="tabpanel" class="tab-pane" id="managers" th:if="${not #lists.isEmpty(modelo.rosters)}">
									<div class="panel panel-default">
										<div class="panel-body">
											<table class="table" id="tJugManager">
												<thead>
													<th th:text="#{jugador.show.data.liga}"></th>
													<th th:text="#{jugador.show.data.temporada}"></th>
													<th th:text="#{jugador.show.data.equipo}"></th>
												</thead>
												
												<tbody>
													<tr th:each = "manager : ${modelo.managers}">
														<td th:text="${manager.liga}"></td>
														<td th:text="${manager.temporada}"></td>
														<td th:text="${manager.equipo}"></td>
													</tr>
												</tbody>
											</table>							
										</div>							
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>