<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorator="shared/start">
 	<head>
	   	<link th:href="@{/webjars/datatables/1.10.5/css/jquery.dataTables.min.css}" 
			  rel="stylesheet" media="screen" type="text/css" />
  	</head>
	<body>
		<div layout:fragment="content">
			<!-- <div class="row">
				<div class="col-md-6">
					<ol class="breadcrumb">
						<li><a th:href="@{/inicio/}" th:text="#{header.inicio}"></a></li>
						<li><a th:href="@{/liga/showall}" th:text="#{header.ligas}"></a></li>
						<li><a th:href="@{/liga/show/{id}/equipos(id = ${liga.id})}" th:text="${liga.siglas}"></a></li>				
						<li class="active" th:text="${franquicia.nombre}"></li>
					</ol>
				</div>
			</div>  -->
			
			<h2 th:text="${franquicia.nombre}"></h2>
		
			<div role="tabpanel">
				<ul class="nav nav-pills" role="tablist" id="navEquipo">
					<li role="presentation">
						<a href="#tabNombres" aria-controls="home" role="pill" data-toggle="tab">Nombres</a>
					</li>
					<li role="presentation" th:if="${not #lists.isEmpty(franquicia.escudos)}">
						<a href="#tabEscudos" aria-controls="home" role="pill" data-toggle="tab" 
						   th:text="#{franquicia.show.escudos}"></a>
					</li>
					<li role="presentation" th:if="${not #lists.isEmpty(franquicia.parques)}">
						<a href="#tabParques" aria-controls="home" role="pill" data-toggle="tab"
						   th:text="#{franquicia.show.parques}"></a>
					</li>
					<li role="presentation"><a href="#tabRecords" aria-controls="home" role="pill" data-toggle="tab">Records</a></li>					
				</ul>
				
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane" id="tabNombres">
						<div class="panel panel-default">
							<div class="panel-body">
								<table class="table">
									<thead>
										<th th:text="#{franquicia.show.tabla.fecha}"></th>
										<th th:text="#{franquicia.show.tabla.nombre}"></th>
									</thead>
									
									<tbody>
										<tr th:each = "nombre : ${franquicia.nombres}">
											<td th:text="${nombre.rangoString}"></td>
											<td th:text="${nombre.nombre}"></td>
										</tr>
									</tbody>
								</table>							
							</div>							
						</div>
					</div>

					<div role="tabpanel" class="tab-pane" id="tabEscudos">
						<div class="panel panel-default">
							<div class="panel-body">
								<div th:each="escudo : ${franquicia.escudos}" class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
									<a href="#" class="thumbnail">
										<p class="encabezado-beisbol-h2" th:text="${escudo.rangoString}"></p>
										<img th:src="@{'/imagenes/' + ${liga.siglas} + '/logos/' + ${escudo.nombre}}" th:alt="${escudo.nombre}"></img>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div role="tabpanel" class="tab-pane" id="tabParques">
						<div class="panel panel-default">
							<div class="panel-body">
								<table class="table">
									<thead>
										<th th:text="#{franquicia.show.tabla.fecha}"></th>
										<th th:text="#{franquicia.show.tabla.nombre}"></th>
									</thead>
									
									<tbody>
										<tr th:each = "parque : ${franquicia.parques}">
											<td th:text="${parque.rangoString}"></td>
											<td th:text="${parque.nombre}"></td>
										</tr>
									</tbody>
								</table>							
							</div>
						</div>
					</div>

					<div role="tabpanel" class="tab-pane" id="tabRecords">
						<div class="panel panel-default">
							<div class="panel-body">
								<table class="table" id="tablaRecords" name="tablaRecords">
									<thead>
										<th th:text="#{franquicia.show.records.temporada}"></th>
										<th th:text="#{franquicia.show.records.etapa}"></th>
										<th th:text="#{franquicia.show.records.record}"></th>
										<th th:text="#{franquicia.show.records.porcentaje}"></th>
									</thead>
									
									<tbody>
										<tr th:each = "record : ${temporadas}">
											<td>
												<a th:href="@{/equipo/{id}/show/franquicia(id = ${record.participanteId})}" 
												   th:text="${record.temporadaNombre}"></a>
											</td>
											<div th:if="${record.campeon}">
												<td class="resaltar" th:text="#{temporada.show.campeon}"></td>
											</div>
											<div th:unless="${record.campeon}">
												<td th:text="${record.etapaNombre}"></td>
											</div>								
											<td th:text="${record.recordTotal}"></td>
											<td th:text="${record.pctjeString}"></td>
										</tr>
									</tbody>
								</table>							
							</div>
						</div>			
					</div>
				</div>
			</div>			
		</div>
		
		<div layout:fragment="scripts">
		  	<script th:src="@{/webjars/datatables/1.10.5/js/jquery.dataTables.min.js}" type="text/javascript"></script>
		  	<script th:src="@{/webjars/bootstrap/3.3.4/js/tab.js}" type="text/javascript"></script>
		  	
		  	<script th:inline="javascript">
				$(document).ready(function () {
					$('#navEquipo a:first').tab('show');
					
					$('#tablaRecords').dataTable( {
						"language": {
							"lengthMenu": [[#{liga.show.lenghtMenu}]],
							"zeroRecords": [[#{liga.show.zeroRecords}]],
							"info": [[#{liga.show.info}]],
							"infoFiltered": [[#{liga.show.infoFiltered}]],
							"search": [[#{liga.show.search}]],
							"paginate": {
								"first": [[#{liga.show.paginateFirst}]],
								"last": [[#{liga.show.paginateLast}]],
								"next": [[#{liga.show.paginateNext}]],
								"previous": [[#{liga.show.paginatePrevious}]]
							}
						}
					});
				});				
			</script>	
		</div>
	</body>
</html>	