<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorator="equipo/show">
	<head>
	</head>
	<body>
		<div th:fragment="detalleEquipo">
			<div role="tabpanel">
				<ul class="nav nav-pills navEquipoG" role="tablist" id="navEquipo">
					<li role="presentation" id="zTetapas">
						<a th:href="${'#etapas' + equipo.equipoBeisbol.id}" aria-controls="home" role="tab" 
						   data-toggle="tab">General</a>
					</li>
					<li role="presentation" id="zTroster">
						<a th:href="${'#roster' + equipo.equipoBeisbol.id}" aria-controls="home" role="tab" 
						   data-toggle="tab">Roster</a>
					</li>
					<li role="presentation" id="zTpartidos">
						<a th:href="${'#partidos' + equipo.equipoBeisbol.id}" aria-controls="home" role="tab" 
						   data-toggle="tab" th:text="#{equipo.show.partidos}"></a>
					</li>  
				</ul>
				
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" th:id="${'etapas' + equipo.equipoBeisbol.id}">
					<div class="panel panel-default">
							<div class="panel-body">
								<h2 th:text="${equipo.equipoBeisbol.nombre} + ' ' + ${equipo.totalEquipo}"></h2>
								
								<h3 th:if="${equipo.campeon}" th:text="#{equipo.show.campeon}"></h3>
								
								<div class="panel panel-default col-md-5">
									<div class="panel-heading resaltar" th:text="#{equipo.show.general.etapas}"></div>
									<div class="panel-body">
										<table class="table">
											<tr th:each="etapa : ${equipo.records}">
												<td th:text="${etapa.etapaNombre}"></td>
												<td th:text="${etapa.ganados} + ' - ' + ${etapa.perdidos}"></td>
											</tr>
										</table>
									</div>
								</div>

								<div class="panel panel-default col-md-offset-1 col-md-5">
									<div class="panel-heading resaltar">Managers</div>
									<div class="panel-body">
										<ul class="list-group">
											<li class="list-group-item" th:each="manager : ${equipo.managers}" 
											   th:text="${manager.jugador.nombreCompleto}"></li>
										</ul>
									</div>
								</div>
							</div>
						</div>	
					</div>	
					
					<div role="tabpanel" class="tab-pane" th:id="${'roster' + equipo.equipoBeisbol.id}">
					<div class="panel panel-default">
							<div class="panel-body">								
								<div class="col-md-5">
									<h2 th:text="${equipo.equipoBeisbol.nombre}"></h2>
								</div>
								
								<div class="col-md-offset-1 col-md-5">
									<ul class="list-group">
										<li class="list-group-item" th:text="#{equipo.show.roster.mensajePrevio}"></li>
										<li class="list-group-item" th:text="#{equipo.show.roster.mensajePosterior}"></li>
									</ul>
								</div>

								
								<div class="panel panel-default col-md-5">
									<div class="panel-heading resaltar" th:text="#{equipo.show.roster.bateadores}"></div>
									<div class="panel-body">
										<table class="table">
											<thead>
												<th th:text="#{equipo.show.roster.bateadores.nombre}"></th>
												<th th:text="#{equipo.show.roster.bateadores.posicion}"></th>
											</thead>
											
											<tr th:each="bateador : ${equipo.bateadores}">
												<td th:text="${bateador.jugador.nombreAbreviado + ' '
												    + bateador.otraTemporada}"></td>
												<td th:text="${bateador.posicion}"></td>
											</tr>
										</table>
									</div>
								</div>

								<div class="panel panel-default col-md-offset-1 col-md-5">
									<div class="panel-heading resaltar" th:text="#{equipo.show.roster.lanzadores}"></div>
									<div class="panel-body">
										<ul class="list-group">
											<li class="list-group-item" th:each="pitcher : ${equipo.pitchers}" 
											   th:text="${pitcher.jugador.nombreAbreviado + ' '
												    + pitcher.otraTemporada}"></li>
										</ul>
									</div>
								</div>
							</div>
						</div>	
					</div>	
					
					<div role="tabpanel" class="tab-pane" th:id="${'partidos' + equipo.equipoBeisbol.id}">
					<div class="panel panel-default">
							<div class="panel-body">
								<p>Coming Soon...</p>
							</div>
						</div>	
					</div>	
				</div>
			</div>		
		</div>
	</body>
</html>