<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorator="shared/start">
	<head>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="row">
				<div class="col-md-6">
					<ol class="breadcrumb">
						<li><a th:href="@{/inicio/}" th:text="#{header.inicio}"></a></li>
						<li class="active" th:text="#{header.ligas}"></li>
					</ol>
				</div>
			</div>	
		
			<div class="list-group">
				<a th:each="liga : ${ligas}" class="list-group-item" th:text="${liga.nombre}"
				   th:href="@{/liga/show/{id}/general(id = ${liga.id})}"></a>
			</div>		
		</div>	
		
	    <div layout:fragment="scripts">
	   		<script type="text/javascript">
				$(document).ready(function () {
						$('#mainTab > li.active').removeClass('active');
						$("#tabLigas").addClass('active');
					});
			</script>
		</div>

	</body>
</html>