<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorator="shared/start">
	<body>
		<div layout:fragment="content">
			<div class="col-md-5">
			    <div class="panel panel-default">
			    	<div class="panel-body">
				    	<div class="container">
				    		<p>Sitio dedicado a estadisticas de beisbol</p>
				    	</div>
			    	</div>
			    </div>
		    </div>
		
			<div class="col-md-offset-1 col-md-6">
				<div class="panel panel-default" th:if="${not #lists.isEmpty(modelo.temporadasEnCurso)}">
					<div class="panel-heading resaltar">Temporadas actualmente corriendo</div>
					<div class="panel-body">
						<div class="list-group">
							<a th:each="temporada : ${modelo.temporadasEnCurso}" class="list-group-item" 
							    th:text="${temporada.temporada.nombre} + ' (' + ${temporada.liga} + ')'"
		   						th:href="@{/temporada/{id}/show(id = ${temporada.temporada.id})}"></a>
						</div>
					</div>
				</div>
			</div>
						
			<div class="clearfix col-md-12">			
				<div class="panel panel-default">
					<div class="panel-heading resaltar">Noticias del sitio</div>
					<div class="panel-body">
						<p>Coming soon...</p>
					</div>
				</div>
			</div>
		</div>
		
		<div layout:fragment="scripts">
			<script th:inline="javascript">
				$(document).ready(function () {
					$("#mainTab > li.active").removeClass('active');
					$("#tabInicio").addClass('active');
				});
			</script>
		</div>
		
	</body>
</html>