<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorator="shared/start">
	<body>
		<div layout:fragment="content">
			<div class="panel panel-default">						
				<div class="panel-body">
					<div class="container col-md-11">
						<p>Página de Inicio del Almanaque de Beisbol</p>
					</div>
				</div>
			</div>
		</div>
		
		<div layout:fragment="scripts">
			<script th:inline="javascript">
				$(document).ready(function () {
					$("#mainTab > li.active").removeClass('active');
					$("#tabInicio").addClass('active');
				});
			</script>
		</div>
		
	</body>
</html>